@font-face {
    font-family:'DMB' ;
    src: url('../fonts/DMSans-Bold.ttf');
    font-weight: 700;
}
@font-face {
    font-family:'DMR';
    src: url('../fonts/DMSans-Regular.ttf');
    font-weight: 400;
}